In [121]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from tensorflow import keras
from tensorflow.keras import layers

In [122]:
dataset = pd.read_csv('insurance.csv')
X = dataset.drop('charges', axis=1)
y = dataset['charges']
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [123]:
X = pd.get_dummies(X, columns=['sex', 'region'], drop_first=True)
smoker_dict = {'yes': 1, 'no': 2}
X['smoker'] = X['smoker'].map(smoker_dict)
X.head()

,age,bmi,children,smoker,sex_male,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,0,1
1,18,33.770,1,2,1,0,1,0
2,28,33.000,3,2,1,0,1,0
3,33,22.705,0,2,1,1,0,0
4,32,28.880,0,2,1,1,0,0

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [125]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred))

0.7958786376014414